body{
  background-color: #111137;
  color:aliceblue;
}
h1,h2{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.users-comparison {
    display: flex;
  }
.table-container{
  flex: 1;
  color: #fff;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 32px;
  backdrop-filter: blur(10px);
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid aliceblue;
  padding: 8px;
  text-align: left;
}

.user-table th {
  border: 1px solid aliceblue;
}

button{
  display: inline-block;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  background-color: rgba(255,255,255,0.2);
}